# pyenv et all
.python-version

# editor/ide stuff
*~
.tm_properties
.idea
.vscode
.mr.developer.cfg
.project
.pydevproject

# compiled python
*.py[cod]

# C extensions
*.so

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage*
coverage.xml
.tox
nosetests.xml
.cache
.pytest_cache

# Translations
*.mo
